<div>
  <%= flash[:notice] %>
</div>
<div style="center center no-repeat; text-align: center; padding: 20px;">
  <h1>About</h1>
  <h5 class="p-3 mb-2 bg-dark text-white" style="position: absolute; left: 0; right: 0;">
  国内旅行をした際に注意すべき点や素敵な写真を投稿できる<br>
  サイトになっております。<br>
  また、備忘録としてのご利用して頂くことが出来ます。<br>
  今後ご旅行される予定がありましたら是非参考に投稿一覧の内容をご覧<br>
  いただけたらと思っております。<br>
  お気軽にご利用してください。
  </h5>
</div>

<div class="mx-auto text-center">
  <%= image_tag "huji.jpg", size: "600x500", alt: "画像" %>
</div>