@use '~bootstrap/scss/bootstrap';

// フッターカラー
.bg-light-green {
  background-color: #B6F1AA ;
}

// トップページ
body {
  font-size: 100%;
  font-family: 'Heebo', sans-serif;
  letter-spacing: 0.2em;
}
img {
  max-width: 100%;
}
.content {
  display: flex;
  width: 100%;
  margin: 100px auto;
}
.content .left {
  width: 35%;
  position: relative;
}

// 疑似要素（before）で白いボックスを作り画像の上に重ねる
// 「transform: skewX(-18deg);」で角度をつけて平行四辺形にする
// positionとrightで画像の上に重ねる

.content .left::before {
  content: "";
  width: 163px;
  height: 100%;
  background: #fff;
  position: absolute;
  right: -81px;
  transform: skewX(-18deg);
}
.content .left .text-area {
  position: absolute;
  top: 60px;
  left: 60px;
}
.content .left .title {
  line-height: 1;
  margin-bottom: 56px;
}

// 「display: block;」を設定することで、
// 改行されてmargin-bottomが効くようになる。
// ※spanタグはデフォルトではinlineのため、
// 改行もされないしmargin-bottomも効かない

.content .left .title .ja {
  display: block;
  font-size: 4.375rem;
  font-weight: bold;
  margin-bottom: 12px;
}
.content .left .copy {
  font-size: 0.875rem;
}
.content .right {
  width: 65%;
}

// 「vertical-align: bottom;」で画像の下にできる隙間を消す
// 「object-fit: cover;」で高さを500pxで固定したままトリミングする
// ※「object-fit」はIEでは正しく動作しないため注意が必要

.content .right img {
  width: 100%;
  height: 500px;
  vertical-align: bottom;
  object-fit: cover;
}

// Mainvisual
#mainvisual {
  margin-bottom: 80px;
}
// About
#about .content {
  display: flex;
  justify-content: center;
  align-items: center;
}
#about img {
  width: 100px;
  height: 100px;
  border-radius: 70%;
  margin-right: 30px;
}
#about .text {
  text-align: left;
}
// 写真
#photo ul {
  display: flex;
  justify-content: space-between;
}
#photo li {
  width: 32%;
}


@media screen and (max-width: 900px) {
  
  // PC表示の時だけ表示させたい要素に設定しておくことで、
  // スマホ表示は非表示になる。。
  
  .pc {
    display: none;
  }
  .content {
    flex-direction: column;
  }
  .content .left {
    width: 100%;
    padding: 0 16px;
    margin-bottom: 20px;
  }
  
  // 「content: none;」を設定することで疑似要素が非表示になるので、
  // 画像に重ねていた四角いボックスが消える。

  .content .left::before {
    content: none;
  }
  .content .left .title .ja {
    font-size: 2.25rem;
  }
  
  // 「position: static;」で absolute を解除する
  
  .content .left .text-area {
    position: static;
  }
  .content .right {
    width: 100%;
  }
}


@media screen and (max-width: 600px) {
  #mainvisual img {
    height: calc(100vh - 60px);
  }
  #about .content {
    flex-direction: column;
  }
  #about img {
    margin-right: 0;
  }
  #photo ul {
    flex-direction: column;
  }
  #photo li {
    width: 100%;
    margin-bottom: 30px;
  }
}